<% @statuses.each do |status| %>
  <b>Title:</b> <%= status.title %><br />
  <b>Content:</b> <%= status.content %> <br />
  <a href="/statuses/<%=status.id%>/edit">Edit</a>
  <a href="/statuses/<%=status.id%>/delete">Delete</a>
  <br />
  <br />
<% end %>