
<h1>Add a New Status</h1>

<form action="/statuses" method="POST">
  <label> Title </label>
  <input type="text" name="title"> </br>

  <label> Content </label>
  <input type="number" name="content"> </br>

  <input type="submit" value="Create">
</form>